.header {
    padding: 0 2rem;
    background: var(--color-gray-900);
    border-bottom: 1px solid var(--color-gray-100);
}

.content {
    height: 88px;
    width: 100%;
    /* background: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 0.5rem;
    /* background: red; */
    height: 60px;
}

.logo img {
    max-height: 100%;
    max-width: auto;    
}

.button {
    border: none;
    border-radius: 10px;
    height: 54px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: var(--color-gray-100);
}

.button:hover {
    background: var(--color-secondary-100);
    color: #fff;
}