.toolbar {
    display: flex;
    align-items: center;
    justify-content: end;
    /* background: lightblue; */
    padding: 3rem 1rem;
    gap: 1rem;
}

.toolbar button {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}